@import "tailwindcss";


@font-face {
    font-family: font1;
    src: url(./font/DancingScript-Bold.ttf);
}

@font-face {
    font-family: font2;
    src: url(./font/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: gilroy;
  src: url(./font/Gilroy-Bold.ttf);
}

*{
  font-family: gilroy;
}
body{
  background-color: black;
  color: white;
  overflow-x: hidden;
}

 body::-webkit-scrollbar{
  display: none;
 }


 .color-red {
  background-color: #f87171; /* red-400 */
}
.color-blue {
  background-color: #60a5fa; /* blue-400 */
}
.color-green {
  background-color: #34d399; /* green-400 */
}
.color-yellow {
  background-color: #facc15; /* yellow-400 */
}
.color-purple {
  background-color: #c084fc; /* purple-400 */
}
.color-pink {
  background-color: #f472b6; /* pink-400 */
}
.color-orange {
  background-color: #fb923c; /* orange-400 */
}
.color-teal {
  background-color: #2dd4bf; /* teal-400 */
}
.color-indigo {
  background-color: #818cf8; /* indigo-400 */
}


.show{
    background-color: rgba(226, 240, 238, 0.952);
    filter: blur(130px);
    z-index: 0;
   
}


.show1{
    background-color: rgb(253, 237, 14);
    filter: blur(100px);
       z-index: 0;
}

.show5{
    background-color: rgb(255, 255, 255);
    filter: blur(90px);
    z-index: 0;
}


.show6{

    /* background-color: rgb(21, 224, 224); */
    filter: blur(50px);
    
    z-index: 0;
}



.font1{
    font-family: font1;
}

.font2{
    font-family: font2;
}
.gilroy{
  font-family:gilroy ;
}


.up-down-animation {
  animation: floatImage 3s ease-in-out infinite;
}

.white-bule{
  color: rgba(163, 160, 160, 0.671);
}

@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); /* Move up */
  }
  100% {
    transform: translateY(0px); /* Back to original */
  }
}

.glass-card:hover {
  box-shadow:
    0 0 20px rgba(255, 255, 255, 0.1),
    0 0 40px rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
}

.glass-card {
  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 
    0 10px 30px rgba(0, 0, 0, 0.8),        
    inset 0 1px 1px rgba(255, 255, 255, 0.05), 
    inset 0 -1px 1px rgba(255, 255, 255, 0.05);
  position: relative;
  overflow: hidden;
  color: white; 
  z-index: 1;
}







.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.glass-1{
background: rgb(22, 22, 22);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(8, 8, 8, 1);

}
.glass-1:hover{
  background-color:#756c6c ;
  color: #000;
}

.star-border-container {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 50%;
  opacity: 0.7;
  bottom: -12px;
  right: -250%;
  border-radius: 50%;
  animation: star-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 50%;
  top: -12px;
  left: -250%;
  border-radius: 50%;
  animation: star-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  border: 1px solid #222;
  background: #000;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 16px 26px;
  border-radius: 20px;
  z-index: 1;
}

@keyframes star-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
