@import "tailwindcss";


@font-face {
    font-family: font1;
    src: url(./font/DancingScript-Bold.ttf);
}

@font-face {
    font-family: font2;
    src: url(./font/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: gilroy;
  src: url(./font/Gilroy-Bold.ttf);
}

*{
  font-family: gilroy;
}
body{
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.show{
    background-color: rgba(226, 240, 238, 0.952);
    filter: blur(130px);
   
}


.show1{
    background-color: rgb(253, 237, 14);
    filter: blur(100px);
}


.font1{
    font-family: font1;
}

.font2{
    font-family: font2;
}
.gilroy{
  font-family:gilroy ;
}


.up-down-animation {
  animation: floatImage 3s ease-in-out infinite;
}

.white-bule{
  color: rgba(236, 235, 235, 0.671);
}

@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px); /* Move up */
  }
  100% {
    transform: translateY(0px); /* Back to original */
  }
}


.glass-card {

  background: rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 44px 22px rgba(255, 255, 255, 2.2);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
 
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
